<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
                                                       Оборотная ведомость по балансовым счетам
                                                        за период с 01.01.2016 по 31.12.2016
                                                                    по банку
--------------------------------------------------------------------------------------------------------------------------------------------------------
 Б\сч    |          Входящее сальдо                   |                        ОБОРОТЫ                   |              ИСХОДЯЩЕЕ САЛЬДО               |
         ----------------------------------------------------------------------------------------------------------------------------------------------|
         |        Актив        |        Пассив        |          Дебет          |        Кредит          |         Актив         |         Пассив      |
-------------------------------------------------------------------------------------------------------------------------------------------------------|</pre>
{% regroup file_balances by classs.id as file_balances %}
{% for group in file_balances %}
<pre>                                              <strong>{{ group.1.1.classs.className}}</strong>
--------------------------------------------------------------------------------------------------------------------------------------------------------
    {% for balance in group.list %}
    {{balance.acc|center:"4"}} | {{ balance.openingActive|center:"19" }} |{{ balance.openingPassive|center:"21" }} | {{ balance.flowDebit|center:"23" }} | {{ balance.flowCredit|center:"22" }} | {{ balance.outgoingActive|center:"21" }} | {{ balance.outgoingPassive|center:"20" }}|
--------------------------------------------------------------------------------------------------------------------------------------------------------
    {% endfor %}
ПО КЛАССУ| {{ group.1.1.classs.classOpeningActive|center:"19" }} | {{ group.1.1.classs.classOpeningPassive|center:"21" }}|{{ group.1.1.classs.classFlowDebit|center:"25" }}|{{ group.1.1.classs.classFlowCredit|center:"24" }}|{{ group.1.1.classs.classOutgoingActive|center:"23" }}|{{ group.1.1.classs.classOutgoingPassive|center:"21" }}|
--------------------------------------------------------------------------------------------------------------------------------------------------------
{% endfor %}
БАЛАНС   | {{ file.sumOpeningActive|center:"19" }} |{{ file.sumOpeningPassive|center:"21" }} | {{ file.sumFlowDebit|center:"23" }} | {{ file.sumFlowCredit|center:"22" }} | {{ file.sumOutgoingActive|center:"21" }} | {{ file.sumOutgoingPassive|center:"20" }}|
--------------------------------------------------------------------------------------------------------------------------------------------------------
    </pre>
</body>
</html>