<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
Список загруженных файлов.
{% if files %}
{% for file in files %}
    <p></p>
<a href="{% url 'file_detail' pk=file.id %}">{{file.path}}</a>
{% empty %}
Загруженных файлов нет.
{% endfor %}
{% else %}
Загруженных файлов нет.
{% endif %}

</body>
</html>