<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input excel</title>
</head>
<body>
<div>
    <a href="{% url 'files_list' %}">Посмотреть список загруженных файлов</a>
</div>
<div><form method="post" action="{% url 'read_file' %}">
    {% csrf_token %}
    <label for="text">Вводите путь excel файла</label>
    <input type="text" id ="text" name="text">
    <input type="submit" name="excel">
</form></div>

</body>
</html>